name: Publish verda package

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-24.04

    environment:
      name: pypi

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.11"

      - name: Set up Python
        run: uv python install

      - name: Build verda
        run: uv build

      - name: Smoke test verda (wheel)
        run: uv run --isolated --no-project --with dist/verda-*.whl --with "responses==0.25.8" tests/smoke_verda.py

      - name: Smoke test verda (source distribution)
        run: uv run --isolated --no-project --with dist/verda-*.tar.gz --with "responses==0.25.8" tests/smoke_verda.py

      # we use Trusted publishing for verda package, no keys necessary: https://docs.astral.sh/uv/guides/integration/github/#publishing-to-pypi
      - name: Publish verda package
        run: uv publish dist/verda-*
