name: Publish datacrunch package

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-24.04

    environment:
      name: pypi

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.11"

      - name: Set up Python
        run: uv python install

      - name: Sync datacrunch version and dependency to verda
        run: |
          # read version from top-level project
          VERSION=$(uv version --short --package verda)
          echo "Syncing datacrunch to verda==$VERSION"

          uv version --package datacrunch "$VERSION"
          uv add --package datacrunch "verda==$VERSION"

          echo
          echo "Resulting pyproject.toml:"
          cat datacrunch_compat/pyproject.toml

      - name: Build all packages
        run: uv build --all-packages

      - name: Smoke test datacrunch (wheel)
        run: uv run --isolated --no-project --with dist/datacrunch-*.whl --with dist/verda-*.whl --with "responses==0.25.8" datacrunch_compat/tests/smoke_datacrunch.py

      - name: Smoke test datacrunch (source distribution)
        run: uv run --isolated --no-project --with dist/datacrunch-*.tar.gz --with dist/verda-*.tar.gz  --with "responses==0.25.8" datacrunch_compat/tests/smoke_datacrunch.py

      # we don't use Trusted publishing for datacrunch package yet, thus we need secrets
      - name: Publish datacrunch
        env:
          UV_PUBLISH_USERNAME: ${{ secrets.PYPI_USERNAME }}
          UV_PUBLISH_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: uv publish dist/datacrunch-*
