name: Publish datacrunch package

on:
  workflow_run:
    workflows: ["Publish verda package"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    environment:
      name: pypi

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.11"

      - name: Sync datacrunch version and dependency to verda
        working-directory: datacrunch_compat
        run: |
          # read version from top-level project
          VERSION=$(uv version --short --project ..)
          echo "Syncing datacrunch to verda==$VERSION"

          uv version "$VERSION"
          uv add "verda==$VERSION"

          echo
          echo "Resulting pyproject.toml:"
          cat pyproject.toml

      - name: Set up Python
        working-directory: datacrunch_compat
        run: uv python install

      - name: Build
        working-directory: datacrunch_compat
        run: uv build

      # check that basic features work and we didn't miss to include crucial files
      - name: Smoke test (wheel)
        working-directory: datacrunch_compat
        run: uv run --isolated --no-project --with dist/*.whl --with "responses==0.25.8" tests/smoke_datacrunch.py

      - name: Smoke test (source distribution)
        working-directory: datacrunch_compat
        run: uv run --isolated --no-project --with dist/*.tar.gz --with "responses==0.25.8" tests/smoke_datacrunch.py

      - name: Publish
        working-directory: datacrunch_compat
        env:
          UV_PUBLISH_USERNAME: ${{ secrets.PYPI_USERNAME }}
          UV_PUBLISH_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: uv publish
